# Build artifacts
obj/
*.o
*.obj

# Libraries
*.a
*.lib
*.so
*.dll
*.dylib

# Executables
mandelbrot
mandelbrot.exe
*.out
*.app

# Debugging
*.dSYM/
*.suo
*.pdb
*.idb
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Editor-specific files (Vim/Neovim)
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]uv[a-z]
[._]sw?
[._]*.un~
undo/
.netrwhist
*~

# Screenshots
mandelbrot_*.png
